body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: rgb(192, 41, 41);
  display: flex;


}

.nav-flex {
  display: flex;
  flex-direction: row;
  background-color: rgb(192, 41, 41);
}

.main {
  background-color: rgb(48, 46, 46);

}

.picture {
  width: 20em;
  margin: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}


@media screen and (max-width: 740px) {
  .search {
    display: none;
  }

}